* text=auto !eol
/README.txt -text
bootstrap/configuration/pom.xml -text
bootstrap/configuration/src/main/resources/configuration.xml -text
bootstrap/configuration/src/main/resources/configuration/frontend/login.xml -text
bootstrap/configuration/src/main/resources/configuration/frontend/resetpassword.xml -text
bootstrap/configuration/src/main/resources/configuration/modules/emailmodule.xml -text
bootstrap/configuration/src/main/resources/configuration/users/resetpassword.xml -text
bootstrap/configuration/src/main/resources/hippoecm-extension.xml -text
bootstrap/content/pom.xml -text
bootstrap/content/src/main/resources/content/documents/resetpassword/password-reset.xml -text
bootstrap/content/src/main/resources/content/documents/resetpassword_folder.xml -text
bootstrap/content/src/main/resources/hippoecm-extension.xml -text
bootstrap/pom.xml -text
cms/pom.xml -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/Configuration.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/CustomPluginUserSession.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/PanelInfo.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/ResetPassword.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/ResetPasswordException.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/ResetPasswordLinkExpiredException.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/ResetPasswordMain.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/ResetPasswordPanel.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/frontend/SetPasswordPanel.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/login/CustomLoginPlugin.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/services/mail/EmailModule.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/services/mail/MailMessage.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/services/mail/MailService.java -text
cms/src/main/java/org/onehippo/forge/resetpassword/services/mail/MailServiceImpl.java -text
cms/src/main/resources/org/onehippo/forge/resetpassword/frontend/ResetPassword.html -text
cms/src/main/resources/org/onehippo/forge/resetpassword/frontend/ResetPassword.properties -text
cms/src/main/resources/org/onehippo/forge/resetpassword/frontend/ResetPasswordPanel.html -text
cms/src/main/resources/org/onehippo/forge/resetpassword/frontend/ResetPassword_nl.properties -text
cms/src/main/resources/org/onehippo/forge/resetpassword/frontend/SetPasswordPanel.html -text
cms/src/main/resources/org/onehippo/forge/resetpassword/login/CustomLoginPlugin$CustomLoginForm.html -text
cms/src/main/resources/org/onehippo/forge/resetpassword/login/CustomLoginPlugin.properties -text
cms/src/main/resources/org/onehippo/forge/resetpassword/login/CustomLoginPlugin_nl.properties -text
/pom.xml -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/release-notes.xml -text
