.hippo-login-panel-center .hippo-login-form-label .resetpassword-link {
  margin-bottom: 4px;
  display: inline-block;
  cursor: pointer;
}

.resetpassword-link label {
  cursor: pointer !important;
}

.login-form-buttons {
  text-align: right;
  padding-top: 10px;
}

.login-form-container h2 {
  font-size: 18px;
  margin-top: 0px;
}